
.scene {
    width: 20vmin;
    height: 25vmin;
    max-width: 200px;
    max-height: 250px;
    margin: 1vmin;
    perspective: 600px;
  }
  
  .card {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
    border-radius: 10px;
  }
  
  .card.flipped {
    transform: rotateY(180deg);
  }
  
  .card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
 
  .card__face--back {
    transform: rotateY(180deg);
    background-image: url(./assets/paper.jpg);
  }

  img {
      width: 100%;
      height: 100%;
  }