body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', 'Lucida Console',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(assets/images/wood.jpg)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body, html { 
  overflow-x: hidden; 
  overflow-y: auto;
}

:root {
  --card-width: 160px;
  --card-height: 200px;
  --card-margin: 10px;
}